{
	auto_https off
}

:80 {
	handle /ws/* {
		reverse_proxy backend:3000
	}

	handle /health {
		reverse_proxy backend:3000
	}

	handle /logo.png {
		respond "LOGO ROUTE MATCHED" 200
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
