{
	auto_https off
}

:80 {
	handle /ws/* {
		reverse_proxy backend:3000
	}

	handle /health {
		reverse_proxy backend:3000
	}

	root * /srv/frontend

	@static file
	handle @static {
		file_server
	}

	handle {
		rewrite * /index.html
		file_server
	}
}
